
//mixins
=figure-display
	position: relative
	display: inline-block
	width: 20%
	height: auto
	padding: 5%

//variables

//main
*
	margin: 0
	font-family: 'Inconsolata', monospace

body
	background:
		color: white
	position: relative
	width: 100%

header
	position: relative
	height: 600px

header
	position: relative
	height: 70vh
	background:
		image: url("http://www.clker.com/cliparts/0/D/9/h/U/9/alien-b-w-hi.png")
		size: 38%
		attachment: fixed
		position: top center
		repeat: no-repeat
	overflow: hidden
	.pic-one
		height: 25vh
		width: 100%
		position: absolute
		//background:
		//	image: url("https://s3-us-west-2.amazonaws.com/lizzie-dad-site/zig-zag.jpg")
	.pic-two
		top: 58vh
		height: 30vh
		width: 100%
		position: absolute
		background:
			image: url("http://www.clker.com/cliparts/7/V/c/l/0/3/blackgrass-hi.png")
	.pic-three
		top: 34vh
		right: 3vw
		height: 40vh
		width: 35vw
		position: absolute
		repeat: no-repeat
	.pic-four
		top: 12vh
		left: 5vw
		height: 50vh
		width: 25vw
		repeat: no-repeat


.cartoons
	height: 1500px
	position: relative
	top: -200px
	h3
		position: relative
		text-align: right
		font:
			size: 1.2vw
		line-height: 1.5
		width: 15%
		top: 45%
		color: grey
		margin-left: 80%
		z-index: 100
		cursor: pointer
		&:hover
			background-color: grey
			color: white

	.crying
		width: 70%
		margin-left: 15%
		height: 1000px
		position: relative
		//transition: transform 3s ease-in-out
		&:hover
			//transform: translate(200px, 150px) rotate(360deg)
		figure
			+figure-display
			opacity: 0
			transform: translateX(-20px)

			&.is-showing
				opacity: 1
				transform: translateX(0px)
				transition: all .6s ease-in-out


	.snacks
		display: none
		width: 70%
		margin-left: 15%
		height: 1000px
		position: relative
		figure
			+figure-display

	.is-goat
		display: none

img
	width: 80%
	height: 80%
	padding: 12%

.active
	font-weight: bold

.is-flipping
	animation: flip 3s ease-in-out 0s infinite alternate

.is-ferris
	animation: flip 10s ease-in-out 0s

.is-disco
	animation: disco 2s ease-in 0s infinite

.is-framed
	animation: framed 2s ease-in 0s infinite

@keyframes flip
	from
		transform: translate(0, 0) rotate(0deg)
	to
		transform: translate(200px, 150px) rotate(360deg)


@keyframes disco
	0%
		background: #FF00FF
	20%
		background: #FF8000
	40%
		background: #FFFF00
	60%
		background: #FFF
	80%
		background: #80FF00
	100%
		background: black

@keyframes framed
	from
		background: orange
	to
		background: pink
